build/
onnxruntime-gpu/*
!onnxruntime-gpu/README.md
!onnxruntime-gpu/OnnxRuntimeWrapper.cmake
!onnxruntime-gpu/windows-x64/OnnxRuntimeConfig.cmake
!onnxruntime-gpu/linux/OnnxRuntimeConfig.cmake
onnxruntime-static/*
!/onnxruntime-static/OnnxRuntimeWrapper.cmake
opencv-static/*
!/opencv-static/OpenCVWrapperConfig.cmake
opencv-shared/
models/*

.vscode/
node_modules/
package-lock.json
